header {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;

}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
}

.remove {
    text-align: center;
    margin-right: 10px;
}

.remove:hover {
    cursor: pointer;
}

.fieldError {
    border: 1px solid red;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-bottom: 20px;
}